<div class="container my-3">
  <div class="row">
  <h2>配送先編集</h2>
</div>
  <div class="offset-1">
    <%= form_with model: @address, url: addresses_path, local: true do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>郵便番号（ハイフンなし）</td>
          <td><%= f.text_field :postal_code, class:"form_width" %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, class:"form_address" %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, class:"form_width" %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit'変更内容を保存',class: 'btn btn-success' %>
    <% end %>
  </div>
</div>